---
import { type CollectionEntry, getCollection } from 'astro:content';
import { marked } from 'marked';
import Button from './Button.astro';
import FormattedDate from './FormattedDate.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const latestPost = posts[0];
---

{
    latestPost && (
        <section class="w-full flex flex-col gap-8 mb-16 sm:mb-24">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{latestPost.data.title}</h1>
            <div class="text-sm">
                <FormattedDate date={latestPost.data.publishDate} />
                {latestPost.data.updatedDate && (
                    <>
                        {' '}
                        <span>
                            (Updated on <FormattedDate date={latestPost.data.updatedDate} />)
                        </span>
                    </>
                )}
            </div>
            {latestPost.data.seo?.image?.src && (
                <figure>
                    <img class="w-full" src={latestPost.data.seo.image.src} loading="lazy" decoding="async" alt={latestPost.data.seo.image.alt || ''} />
                </figure>
            )}
            {latestPost.data.excerpt && <div class="max-w-none prose prose-dante sm:prose-lg">{latestPost.data.excerpt}</div>}
            <div class="flex flex-wrap gap-4">
                <Button href={`/blog/${latestPost.id}/`}>Read post</Button>
            </div>
        </section>
    )
}
